
.statistics-bar {
	width: 100%;
  height: 16px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 25px;
	background-color: #fff;
}

.statistics-bar .statistics-division {
  top: 0;
	left: 0;
  height: 100%;
	position: absolute;
	border-radius: 10px;
}
