.btn-send-email{
    background: #cacaca;
    color: black;
    border: 0;
    padding: 0px 10px;
}
.colaction{
    width: 1px;
    white-space: nowrap;
}
.tablecontainer{
    position: relative;
}
.spinnertable{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, 0.5);
}